<article class="container mx-auto">
    <div class="mb-5 flex justify-between">
        <h2>Character</h2>
        <Search v-model:modelSearch="search" />
        <GoBack />
    </div>
    <div class="h-full | flex flex-col justify-center items-center">
        <BoxContent v-for="(character, index) in filterCharactersList" :key="index" :title="character.name"
            @onGoRouter="onGoRouter" />
    </div>
    <div class="text-center mt-10" v-if="showMessageRefBool">
        <h3>No data available</h3>
    </div>
</article>