@import "../../assets/colors.scss";

.search{
    box-shadow: 0px 0px 4px 2px $yellow;
    background: transparent;
    color: $white;
    padding: 15px;
    &:focus{
        outline: none !important;
        box-shadow: 0px 0px 4px 2px $blue;

    }

}