@import "../../assets/colors.scss";

.search{
    box-shadow: 0px 0px 4px 2px $yellow;
    background: transparent;
    color: $yellow;
    padding-left: 15px;
    &:focus{
        outline: none !important;
    }

}