<article class="container mx-auto">
    <div class="mb-5 flex justify-between items-center">
        <h2>Detail character</h2>
        <GoBack />
    </div>
    <div class="detail">
        <section class="justify-start flex flex-col items-center">
            <div><span>Name:</span> {{ detailPeopleRefObj.name }}</div>
            <div><span>Male:</span> {{ detailPeopleRefObj.gender }}</div>
            <div><span>Birth Year:</span> {{ detailPeopleRefObj.birth_year }}</div>
            <div><span>Skin color:</span> {{ detailPeopleRefObj.skin_color }}</div>
            <div><span>Eye color:</span> {{ detailPeopleRefObj.eye_color }}</div>
            <div><span>Height:</span> {{ detailPeopleRefObj.height }}</div>
            <div><span>Mass:</span> {{ detailPeopleRefObj.mass }}</div>
            <div><span>Hair color:</span> {{ detailPeopleRefObj.hair_color }}</div>
        </section>

    </div>
</article>